/* fonts */
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBlold'), local('OpenSans-SemiBlold'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBlold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

/* Normalize styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

/* glob */
body {
    font-family: 'Open Sans', sans-serif;
    min-width: 360px;
}

.container {
    max-width: 1028px;
    padding: 0 20px;
    width: 100%;
}

.section-offset {
    margin-bottom: 80px;
}

.decor-title-block {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.decor-title-block::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgba(40, 116, 174, .1);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.section-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #2874AE;
    padding-right: 32px;
    position: relative;
    z-index: 10;
    padding-left: 20px;
    background-color: #fff;
}

.section-descr {
    font-size: 14px;
    line-height: 19px;
    color: #262626;
}

.main__wrapper {
    display: flex;
    padding-left: max(20px, calc((100% - 1180px) / 2));
}

.main__content {
    width: calc(100% - 160px - 20px);
}

.back-to-top {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 60px;
    left: max(20px, calc((100% - 1180px) / 2));
    cursor: pointer;
    padding: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease;
    background-color: #fff;
    border-radius: 5px;
}

.back-to-top.back-to-top_show {
    opacity: 1;
    visibility: visible;
}

.back-to-top__icon {
    margin-right: 13px;
}

.back-to-top__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #005586;
}

/* header */
.header {
    padding: 40px 0 24px;
    position: absolute;
    top: 0;

    width: 100%;
    z-index: 1000;
}

.header__container {
    padding-left: 20px;
}

.header__wrapper {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
}

.header__separator {
    width: 180px;
    flex: 0 0 180px;
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu__item {
    margin-right: 41px;
    margin-bottom: 16px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 16px;
    line-height: 22px;
    color: #262626;
    transition: color .2s ease;
}

.menu__link:hover {
    color: #005586;
}

.menu__link.active {
    font-weight: 600;
    color: #005586;
    pointer-events: none;
}

/* promo */
.promo {
    background-image: url('../img/promo/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 41px;
}

.promo__wrapper {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.promo__logo {
    width: 180px;
    position: relative;
}

.promo__logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 90px);
}

.promo__logo-background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: calc(100% - 90px);
    background-color: #2874AE;
}

.promo__logo-decor {
    object-fit: contain;
    object-position: bottom;
    width: 160px;
    height: 100%;
}

.promo__logo-image {
    position: absolute;
    top: 160px;
    left: 0;
}

.promo__logo-text {
    position: absolute;
    top: 350px;
    left: 0;
}

.promo__container {
    padding: 180px 20px 140px;
    flex-grow: 1;
}

.promo__content {
    max-width: 780px;
    width: 100%;
    padding: 0 80px;
    position: relative;
}

.promo__slider-button {
    position: absolute;
    top: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.promo__slider-button_prev {
    left: 0;
}

.promo__slider-button_next {
    right: 0;
}

.promo__slide-title {
    font-weight: 800;
    font-size: 56px;
    line-height: 76px;
    color: #2874AE;
    margin-bottom: 16px;
}

.promo__slide-descr {
    font-size: 16px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 42px;
}

.promo__slide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10.5px 10px;
    min-width: 178px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    background-color: #2874AE;
    border-radius: 5px;
    width: max-content;
}

/* side-menu */
.side-menu {
    flex: 0 0 160px;
    margin-right: 20px;
    padding-top: 82px;
    position: relative;
    padding-bottom: 60px;
}

.side-menu__list {
    position: sticky;
    top: 40px;
    max-height: calc(100vh - 60px);
    overflow: auto;
}

.side-menu__item {
    margin-bottom: 14px;
}

.side-menu__item:last-child {
    margin-bottom: 0;
}

.side-menu__link {
    font-size: 12px;
    line-height: 16px;
    color: #000;
    position: relative;
    padding: 0 8px;
    display: inline-block;
    transition: color .2s ease, font-weight .2s ease, transform .2s ease;
}

.side-menu__link:hover {
    font-weight: 600;
    color: #005586;
    transform: translateX(6px);
}

.side-menu__link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    width: 6px;
    height: 12px;
    background-image: url('../img/side-menu-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .2s ease;
}

.side-menu__link:hover::after {
    opacity: 1;
}

/* services */
.services__decor {
    margin-bottom: 24px;
}

.services__categories {
    margin-bottom: 32px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
}

.categories__item {
    margin-bottom: 6px;
    margin-right: 12px;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__btn {
    font-size: 12px;
    line-height: 16px;
    color: #262626;
    padding: 8px 14px;
    border: 1px solid rgba(40, 116, 174, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease, color .2s ease;
}

.categories__btn:hover {
    background-color: #2874AE;
    color: #fff;
}

.cards {
    display: flex;
    max-width: 860px;
}

.cards__item {
    margin-right: 40px;
}

.cards__item:last-child {
    margin-right: 0;
}

.card {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(40, 116, 174, .2);
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
}

.card__picture {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 16px;
}

.card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #262626;
    margin-bottom: 16px;
}

.card__descr {
    font-size: 14px;
    line-height: 19px;
    color: #262626;
    margin-bottom: 37px;
    flex: 1 1 auto;
}

.card__descr_margin-bottom {
    margin-bottom: 17px;
}

.card__link {
    width: max-content;
    align-items: center;
    padding: 10.5px 37px 10.5px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #005586;
    background-image: url('../img/card-more-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
}

/* about */
.about__decor {
    margin-bottom: 25px;
}

.about__categories {
    margin-bottom: 16px;
}

.about__descr {
    margin-bottom: 40px;
    max-width: 780px;
}

/* news */
.news {
    padding: 58px 0 32px;
    background-color: #FBFBFB;
    border-radius: 5px 0px 0px 5px;
}

.news__title {
    background-color: #FBFBFB;
}

.news__decor {
    margin-bottom: 25px;
}

.news__categories {
    margin-bottom: 13px;
}

.news__slider {
    margin-bottom: 24px;
    padding-top: 14px;
}

.card-news {
    border: 1px solid #eee;
    border-radius: 5px;
}

.card-news__picture {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-news__picture::after {
    content: '';
    position: absolute;
    top: -12px;
    left: 16px;
    width: 32px;
    height: 38px;
    background-image: url('../img/news/decor-img.svg');
    background-repeat: no-repeat;
    background-position: top;
}

.card-news__content {
    padding: 18px 16px 16px;
    background-color: #fff;
}

.card-news__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 16px;
}

.card-news__descr {
    font-size: 14px;
    line-height: 19px;
    color: #262626;
    margin-bottom: 8px;
}

.card-news__link {
    font-size: 14px;
    line-height: 19px;
    color: #2874AE;
    position: relative;
}

.card-news__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2874AE;
}

.news__slider-navigation {
    display: flex;
    align-items: center;
    max-width: 980px;
}

.news__slider-navigation-decor {
    flex: 1 1 auto;
    background-color: rgba(40, 116, 174, .2);
    height: 1px;
    margin: 0 24px;
}

.news__slider-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .3;
    padding: 8px 0;
}

.news__slider-button-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2874AE;
}

.news__slider-button_prev .news__slider-button-icon {
    margin-right: 8px;
}

.news__slider-button_next .news__slider-button-text {
    margin-right: 8px;
}

.news__slider-button.swiper-button-disabled {
    opacity: .15;
    pointer-events: none
}

/* awards */
.awards {
    margin-bottom: 64px;
}

.awards__decor {
    margin-bottom: 25px;
}

.awards__descr {
    max-width: 780px;
    margin-bottom: 24px;
}

.awards__content {
    display: flex;
}

.awadrs__wrapper {
    min-width: 0;
    margin-right: 16px;
    padding: 73px 48px;
    position: relative;
    max-width: 576px;
    margin-bottom: 16px;
    height: 100%;
}

.awadrs__slider-pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 400px;
    height: 100%;
    margin: 0 -8px;
}

.awadrs__slider-pagination .swiper-pagination-bullet {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin: 0 !important;
    flex: 0 0 20%;
    padding: 0 8px;
    background-color: transparent !important;
    margin-bottom: 16px !important;
}

.awadrs__slider-pagination .swiper-pagination-bullet-active {
    position: relative;
    pointer-events: none;
    border-radius: 5px !important;
}

.awadrs__slider-pagination .swiper-pagination-bullet-active img {
    outline: 3px solid #2874AE;
}

.awadrs__slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.awadrs__slider-button_prev {
    left: 0;
}

.awadrs__slider-button_next {
    right: 0;
}

.award__img {
    width: 100%;
}

/* contacts */
.contacts {
    padding: 58px 0 32px;
    background-color: #FBFBFB;
    border-radius: 5px 0px 0px 5px;
}

.contacts__decor {
    margin-bottom: 23px;
}

.contacts__title {
    background-color: #FBFBFB;
}

.contacts__categories {
    margin-bottom: 16px;
}

.contacts__content {
    display: flex;
    max-width: 980px;
}

.contacts__address {
    margin-right: 20px;
}

.contacts__address-block {
    margin-bottom: 19px;
}

.contacts__address-block:last-child {
    margin-bottom: 0;
}

.contacts__address-text {
    font-size: 14px;
    line-height: 19px;
    color: #262626;
}

.ymaps-2-1-79-controls__toolbar {
    display: none;
}

.ymaps-2-1-79-copyrights-pane {
    display: none;
}

.ymaps-2-1-79-controls__bottom {
    display: none;
}

.ymaps-2-1-79-controls__control {
    inset: 95px auto auto 5px !important;
}

/* partners */
.partners {
    margin-bottom: 90px;
}

.partners__decor {
    margin-bottom: 25px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.partners__item {
    padding: 0 20px;
    flex: 1 1 16.666%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

/* footer */
.footer {
    background-color: #003C5F;
}

.footer__container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.footer__wrapper {
    display: flex;
    padding-top: 56px;
    padding-bottom: 70px;
    flex-grow: 1;
}

.footer__logo {
    transform: translateY(-24px);
    position: relative;
    margin-right: 40px;
}

.footer__logo-image {
    position: absolute;
    top: -16px;
    left: 0;
    width: 180px;
    max-width: none;
}

.footer__logo-text {
    position: absolute;
    bottom: 72px;
    left: 0;
    width: 180px;
    max-width: none;
}

.footer__menu {
    margin-right: 131px;
}

.footer__menu-item {
    margin-bottom: 16px;
}

.footer__menu-item:last-child {
    margin-bottom: 0;
}

.footer__menu-link {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.footer__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer__content-wrapper {
    display: flex;
    flex: 1 1 auto;
}

.footer__content-block {
    margin-right: 20px;
    flex-grow: 1;
}

.footer__content-block_margin {
    margin-right: 0;
}

.footer__content-block:last-child {
    margin-right: 0;
}

.footer__content-block-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 8px;
}

.footer__content-block-text {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.footer__copyright {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.social {
    display: flex;
}

.social__item {
    margin-right: 8px;
}

.social__item:last-child {
    margin-right: 0;
}

.footer__content-social {
    margin-left: 27px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
}